<div *ngIf="validatePermissions('View reports')">
<app-my-tabs [optionsTabs]="optionsTabs" [intialTabCode]="initialTab"
  (getTabActive)="changeTab($event.code)"></app-my-tabs><br>

<div *ngIf="activeTab == 1">
  <div class="chart-container">
    <canvas id="canvas"></canvas>
  </div>
</div>

<div *ngIf="activeTab == 2">
  <div class="chart-container">
    <canvas id="canvas2"></canvas>
  </div>
</div>

<div *ngIf="activeTab == 3">
  <div class="chart-container">
    <canvas id="canvas3"></canvas>
  </div>
</div>

<div *ngIf="activeTab == 4">
  <div class="chart-container">
    <canvas id="canvas4"></canvas>
  </div>
</div>

<div *ngIf="activeTab == 5">
  <app-my-table [loading]="loading" [dataSource]="dataSource" [Columns]="columns" [length]="length" [pageSize]="pageSize"
    [PageSizeOptions]="pageSizeOptions" [paginator]="paginator" (eventIcons)="iconsFunction($event)"
    (changeSort)="changeSort($event)" (changePaginator)="changePaginator($event)"></app-my-table>
</div>

</div>

