.scroll-container {
  max-height: 500px; /* Ajusta la altura máxima según tus necesidades */
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scroll-container::-webkit-scrollbar {
  width: 8px; /* Ancho del scroll */
}

.scroll-container::-webkit-scrollbar-track {
  background-color: transparent; /* Color de fondo del track (transparente) */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(
    0,
    0,
    0,
    0.3
  ); /* Color del thumb (barra de desplazamiento) */
  border-radius: 4px; /* Radio de esquinas del thumb */
}
