<!--FORMULARIO PARA AGREGAR ACCIONES DE RETROALIMENTACION -->
<div>
  <h1>Acciones de retroalimentación</h1>
  <p>La excelencia se forja con múltiples perspectivas, te animamos a ir más allá de los límites a buscar activamente
  feedback que ilumine tu desempeño. Abre un diálogo con mentores, colegas e incluso clientes para ganar insights que
  enriquezcan tu gestión. Cada comentario es una oportunidad para afinar tus habilidades y ajustar tu estrategia hacia la
  maestría en tu campo. Registra aquí las acciones que tomarás para obtener esa retroalimentación vital que guiará tu
  camino hacia la mejora continua y el éxito sostenible.

  </p>
</div>

<div>
  <mat-form-field appearance="outline">
    <mat-label>Acción de Retroalimentación</mat-label>
    <input matInput [(ngModel)]="title" name="title" autocomplete="off" type="text">
  </mat-form-field>

  <div class="right">
    <button mat-raised-button class="buttons" (click)="saveData()">
      <span class="material-icons" style="margin-right: 10px;">save</span> Guardar
    </button>
  </div>
</div>

<div>
  <h2>Tus acciones de retroalimentación creadas</h2>
</div>

<app-my-table *ngIf="dataSource" [loading]="loading" [dataSource]="dataSource" [Columns]="columns" [length]="length"
  [pageSize]="pageSize" [PageSizeOptions]="pageSizeOptions" [paginator]="paginator" (eventIcons)="iconsFunction($event)"
  (changeSort)="changeSort($event)" (changePaginator)="changePaginator($event)">
</app-my-table>

<!-- Copyright (c) Engagement
https://www.engagement.com.co/
Año: 2023
Sistema: Gestion de desempeño (GDD)
Programador: David Tuta -->
