<!-- HTML DE LA VISTA FORMULARIOS DE OBJETIVOS INDIVIDUALES -->
<div class="buttonsForms right">
  <a mat-raised-button class="buttons" (click)="redirectForm('admin/objetivos_individuales')">
    <mat-icon style="margin-right: 10px;">home</mat-icon>
  </a>
  <a mat-raised-button class="buttons" (click)="redirectForm('admin/objetivos_individuales/form')">
    <mat-icon style="margin-right: 10px;">add</mat-icon>Agregar Objetivo
  </a>

  <a mat-raised-button class="buttons" (click)="redirectForm('admin/objetivos_individuales/feeback_actions')">
    <mat-icon style="margin-right: 10px;">add</mat-icon>Agregar Acciones de Retroalimentación
  </a>

  <a mat-raised-button class="buttons" (click)="redirectForm('admin/objetivos_individuales/training_actions')">
    <mat-icon style="margin-right: 10px;">add</mat-icon>Agregar Acciones de Formación
  </a>
</div>
<br /><br />

<mat-grid-list cols="3" rowHeight="80px">
    <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline">
            <mat-label>Objetivos Estratégicos</mat-label>
            <mat-select [(ngModel)]="strategic_id" [value]="strategic_id" class="mat-select-long-text" (selectionChange)="changeStrategics()">
                <mat-option *ngFor="let options of listStrategics" [value]="options.id">{{ options.title }}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline">
            <mat-label>Objetivo Individual</mat-label>
            <input matInput [(ngModel)]="title" autocomplete="off" type="text" />
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline">
            <mat-label>Peso %</mat-label>
            <input matInput [(ngModel)]="weight" autocomplete="off" type="number" />
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="150px">
    <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline" style="width: 98%">
            <mat-label>Meta</mat-label>
            <textarea matInput [(ngModel)]="objetive" name="mensaje" cols="10" rows="5"></textarea>
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" rowHeight="80px">
  <!-- Otros campos del formulario -->

  <!-- Selector de fecha de inicio -->
  <mat-grid-tile [colspan]="1">
    <mat-form-field appearance="outline">
      <mat-label>Fecha de inicio</mat-label>
      <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate" autocomplete="off">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>
  </mat-grid-tile>

  <!-- Selector de fecha de cierre -->
  <mat-grid-tile [colspan]="1">
    <mat-form-field appearance="outline">
      <mat-label>Fecha de cierre</mat-label>
      <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="endDate" autocomplete="off">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>




<div class="right">
    <button mat-raised-button class="buttons" (click)="saveData()">
        <span class="material-icons" style="margin-right: 10px">save</span> Crear
    </button>
</div>
<br /><br />

<!-- Copyright (c) Engagement
https://www.engagement.com.co/
Año: 2023
Sistema: Gestion de desempeño (GDD)
Programador: David Tuta -->
