<br><br>
<mat-grid-list cols="3" rowHeight="80px">
  <mat-grid-tile [colspan]="1">
    <mat-form-field appearance="outline">
      <mat-label>Titulo</mat-label>
      <input matInput [(ngModel)]="title" autocomplete="off" type="text">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-form-field appearance="outline">
      <mat-label>Objetivos Estratégicos</mat-label>
      <mat-select [(ngModel)]="strategic_id" [value]="strategic_id">
        <mat-option *ngFor="let options of listStrategics" [value]="options.id">{{options.title}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <mat-form-field appearance="outline">
      <mat-label>Puntaje</mat-label>
      <input matInput [(ngModel)]="weight" autocomplete="off" type="number">
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="150px">
  <mat-grid-tile [colspan]="1">
    <mat-form-field appearance="outline" style="width: 98%;">
      <mat-label>Objetivo</mat-label>
      <textarea matInput [(ngModel)]="objetive" name="mensaje" cols="10" rows="5"></textarea>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>

<div class="right">
  <button  mat-raised-button class="buttons" (click)="saveData()">
      <span class="material-icons" style="margin-right: 10px;" >save</span> Crear
  </button>
</div><br><br>