<!-- ESTE ES EL HTML DE LA VISTA REGISTRAR  -->
<div class="container">
  <div class="left-section">
    <div class="profile-pic">
      <div class="top_link"><a href="#">Volver a
          Login</a></div>
      <img [src]="photoPerfil" for="producto_img" class="aggImg">
      <label for="producto_img" class="selectImg2">
      <mat-icon class="icons">add_a_photo</mat-icon></label>
      <input class="ng-hide" style="display: none;" id="producto_img" type="file" accept="image/*"
        (input)="changePhoto(imageInput)" #imageInput />
    </div>
  </div>
  <div class="right-section">
    <div class="form-fields">
      <h1>Crear Cuenta</h1>

      <div class="form-row">
        <mat-form-field  class="custom-form-field">
          <mat-label class="custom-label">Nombres</mat-label>
          <input matInput [(ngModel)]="name" autocomplete="off" type="text">
        </mat-form-field>
        <mat-form-field class="custom-form-field">
          <mat-label class="custom-label">Apellidos</mat-label>
          <input matInput [(ngModel)]="lastName" autocomplete="off" type="text" class="custom-input">
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="custom-form-field">
          <mat-label class="custom-label">Numero de Identificación</mat-label>
          <input matInput [(ngModel)]="identify" autocomplete="off" type="number">
        </mat-form-field>
        <mat-form-field class="custom-form-field">
          <mat-label class="custom-label">Email</mat-label>
          <input matInput [(ngModel)]="email" autocomplete="off" type="text">
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="custom-form-field">
          <mat-label class="custom-label">Contraseña</mat-label>
          <input matInput [(ngModel)]="password" autocomplete="off" [type]="typePass">
          <mat-icon matSuffix (click)="passVisible()">{{iconPass}}</mat-icon>
        </mat-form-field>
        <mat-form-field class="custom-form-field">
          <mat-label class="custom-label">Verifique su Contraseña</mat-label>
          <input matInput [(ngModel)]="varifyPassord" autocomplete="off" [type]="typePass1">
          <mat-icon matSuffix (click)="passVisible1()">{{iconPass}}</mat-icon>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="custom-form-field">
          <mat-label class="custom-label">Numero de Telefono</mat-label>
          <input matInput [(ngModel)]="phone" autocomplete="off" type="number">
        </mat-form-field>
        <mat-form-field class="custom-form-field" (click)="picker.open()">
          <mat-label class="custom-label">Fecha de Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" autocomplete="off" [(ngModel)]="dateBirth">
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="custom-form-field">
          <mat-label class="custom-label">Dirección de residencia</mat-label>
          <input matInput [(ngModel)]="address" autocomplete="off" type="text">
          <mat-hint>Esta Información debe ser verídica</mat-hint>
        </mat-form-field>
        <mat-form-field class="custom-form-field">
          <mat-label class="custom-label">Ciudad</mat-label>
          <input matInput [(ngModel)]="city" autocomplete="off" type="text">
        </mat-form-field>
      </div>

        <br>
        <input type="submit" value="Crear" (click)="guardar()">

    </div>
  </div>
</div>
