// ESTILOS DEL COMPONENTE DE REGISTRO
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 100vh;
}

.left-section {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../../assets/img/Recurso_2.png");
  background-size: 45%;
  background-position-x: 280px;
  background-position-y: 840px;
  background-repeat: no-repeat;
}

.form-fields {
  display: grid;
  gap: 10px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.form-field {
  width: 100%;
}

h1 {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 100px;
  font-weight: 700;
  margin-right: 20px;
}

.top_link {
  position: absolute;
  top: 0;
  left: 0;
}

.right-section {
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../../assets/img/registrar\ usuario_1.png");
  background-position: center;
  background-size: 100%;
}

.left-section .profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.profile-pic img {
  width: 500px;
  height: 500px;
}

.selectImg2 {
  position: relative;
  margin-left: -40%;
  margin-top: 106%;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 30px;
  border: 2px solid;
}

.right-section .form-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.right-section .form-fields input[type="submit"] {
  background-color: #29abe2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 100px;
  font-size: 2rem;
}

.mat-form-field-label {
  color: #ffffff;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .left-section {
    order: 2;
  }

  .right-section {
    order: 1;
  }
}

// Copyright (c) Engagement
// https://www.engagement.com.co/
// Año: 2023
// Sistema: Gestion de desempeño (GDD)
// Programador: David Tuta
