<div class="content"><br>
  <h1 style="text-align: center;">{{user}}</h1>

  <div class="center">
    <img [src]="photoPerfil" for="producto_img" class="aggImg" >
    <label for="producto_img" class="selectImg" ><mat-icon>add_a_photo</mat-icon></label>
  </div><br>
  <input class="ng-hide" style="display: none;" id="producto_img" type="file" accept="image/*" (input)="changePhoto(imageInput)" #imageInput/>


  <mat-grid-list [cols]="columns" rowHeight="100px">

    <mat-grid-tile [colspan]="1">
      <mat-form-field appearance="outline">
        <mat-label>Nombres</mat-label>
        <input matInput [(ngModel)]="nombres" autocomplete="off" type="text">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <mat-form-field appearance="outline">
        <mat-label>Apellidos</mat-label>
        <input matInput [(ngModel)]="apellidos" autocomplete="off" type="text">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <mat-form-field appearance="outline">
        <mat-label>Numero de Identificación</mat-label>
        <input matInput [(ngModel)]="identificacion" autocomplete="off" type="number">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" autocomplete="off" type="text">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput [(ngModel)]="password" autocomplete="off" [type]="typePass">
        <mat-icon matSuffix id="iconVisibility" (click)="passVisible(1)">visibility</mat-icon>
        <mat-icon matSuffix id="iconVisibilityOff" style="display: none;" (click)="passVisible(2)">visibility_off</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <mat-form-field appearance="outline">
        <mat-label>Verifique su Contraseña</mat-label>
        <input matInput [(ngModel)]="varifyPassord" autocomplete="off" [type]="typePass1">
        <mat-icon matSuffix id="iconVisibility1" (click)="passVisible(3)">visibility</mat-icon>
        <mat-icon matSuffix id="iconVisibilityOff1" style="display: none;" (click)="passVisible(4)">visibility_off</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <mat-form-field appearance="outline">
        <mat-label>Numero de Telefono</mat-label>
        <input matInput [(ngModel)]="telefono" autocomplete="off" type="number" >
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <mat-form-field appearance="outline" (click)="picker.open()">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" autocomplete="off" [(ngModel)]="nacimiento">
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" *ngIf="validateUrl != 2">
      <mat-form-field appearance="outline">
        <mat-label>Roles</mat-label>
        <mat-select [(ngModel)]="rol" [readonly]="readonlyInputs"  >
          <mat-option *ngFor="let item of listRoles" [value]="item.rol_id" [disabled]="readonlyInputs">{{item.rol_descripcion}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <mat-form-field appearance="outline">
        <mat-label>Dirección de residencia</mat-label>
        <input matInput [(ngModel)]="direccion" autocomplete="off" type="text">
        <mat-hint>Esta Información debe ser veridica</mat-hint>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <mat-form-field appearance="outline">
        <mat-label>Ciudad</mat-label>
        <input matInput [(ngModel)]="ciudad" autocomplete="off" type="text">
      </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list><br>

  <div class="buttonsForms" style="margin-right: 40px ;">
    <button [disabled]="disableButton"  mat-raised-button color="primary" class="buttons" style="margin-left: 30px;" (click)="guardar()">
      <mat-icon  style="margin-right: 10px;">save</mat-icon>{{titleButton}}
    </button>
  </div>
