<!-- HTML DE LA VISTA LAYOUT O NAVBAR DE LA PARTE IZQUIERDA Y DE ARRIBA -->
<!-- <div class="scroll-container"> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">

    <div class="navbarLeft">
        <div class="title">
            <a class="titleData" (click)="redirectForm('admin/'+title)" >
                {{validateTitle.length == 1 ? title : validateTitle[0] + ' ' + validateTitle[1]  }}
            </a>
        </div>
         <!-- cambiar tituto por boton inicio -->
        <hr class="line">

        <div class="listItems" >

            <div class="items" (click)="openOptions(1)" *ngIf="validateArrayPermissions(['list_permissions'])" [ngStyle]="{'background-color': option == 1 ? '#1560BD' : '#1560BD' }">
                <mat-icon class="itemsIcon">tune</mat-icon>
                <a class="itemsTitle">Parametrización</a>
                <mat-icon class="itemsIcon"> {{option == 1 ? 'expand_less' : 'expand_more'}} </mat-icon>
            </div>
            <div class="subMenu" *ngIf="option == 1">
                <div class="subMenuOption"  (click)="routers('/')" *ngIf="validatePermissions('list_permissions')">
                    <mat-icon class="subMenuIcon">key</mat-icon>
                    <a class="itemsTitle">Permisos</a>
                </div>
            </div>
            <div class="items" (click)="openOptions(2)" *ngIf="validateArrayPermissions(['list_users', 'list_roles'])" [ngStyle]="{'background-color': option == 2 ? '#1560BD' : '#1560BD' }">
                <mat-icon class="itemsIcon">manage_accounts</mat-icon>
                <a class="itemsTitle">Administración</a>
                <mat-icon class="itemsIcon"> {{option == 2 ? 'expand_less' : 'expand_more'}} </mat-icon>
            </div>
            <div class="subMenu" *ngIf="option == 2">
                <div class="subMenuOption"  (click)="routers('/usuarios')"  *ngIf="validatePermissions('list_users')">
                    <mat-icon class="subMenuIcon">people</mat-icon>
                    <a class="itemsTitle">Usuarios</a>
                </div>
                <!-- <div class="subMenuOption"  (click)="routers('/performance_plans')"  *ngIf="validatePermissions('list_users')">
                    <mat-icon class="subMenuIcon">people</mat-icon>
                    <a class="itemsTitle">Planes</a>
                </div> -->

               <!-- BOTON ROLES -->

                <!-- <div class="subMenuOption"  (click)="routers('/')"  *ngIf="validatePermissions('list_roles')">
                    <mat-icon class="subMenuIcon">public</mat-icon>
                    <a class="itemsTitle">Roles</a>
                </div> -->
            </div>
            <div class="items" (click)="openOptions(3)" *ngIf="validateArrayPermissions(['list_companies', 'list_employments', 'list_areas'])" [ngStyle]="{'background-color': option == 3 ? '#1560BD' : '#1560BD' }">
                <mat-icon class="itemsIcon">corporate_fare</mat-icon>
                <a class="itemsTitle">Empresas</a>
                <mat-icon class="itemsIcon"> {{option == 3 ? 'expand_less' : 'expand_more'}} </mat-icon>
            </div>
            <div class="subMenu" *ngIf="option == 3">
                <div class="subMenuOption" (click)="routers('/empresas')" *ngIf="validatePermissions('list_companies')">
                    <mat-icon class="subMenuIcon">store</mat-icon>
                    <a class="itemsTitle">Empresas</a>
                </div>
                <div class="subMenuOption" (click)="routers('/cargos')" *ngIf="validatePermissions('list_employments')">
                    <mat-icon class="subMenuIcon">assignment_ind</mat-icon>
                    <a class="itemsTitle">Cargos</a>
                </div>
                <div class="subMenuOption" (click)="routers('/areas')" *ngIf="validatePermissions('list_areas')">
                    <mat-icon class="subMenuIcon">view_in_ar</mat-icon>
                    <a class="itemsTitle">Áreas</a>
                </div>
            </div>
            <div class="items" (click)="openOptions(4)" *ngIf="validateArrayPermissions(['list_objectives_strategics', 'list_my_objectives_strategics', 'list_objectives_individuals', 'list_my_objectives_individuals', 'list_tracings'])" [ngStyle]="{'background-color': option == 4 ? '#1560BD' : '#1560BD' }">
              <mat-icon class="itemsIcon">assignment</mat-icon>
              <a class="itemsTitle">Plan de desempeño</a>
              <mat-icon class="itemsIcon"> {{option == 4 ? 'expand_less' : 'expand_more'}} </mat-icon>
          </div>
          <div class="subMenu" *ngIf="option == 4">
            <div class="items" (click)="routers('/objetivos_estrategicos/all')" *ngIf="validatePermissions('list_objectives_strategics')">
                <mat-icon class="itemsIcon">analytics</mat-icon>
                <a class="itemsTitle">Objetivos Estratégicos</a>
            </div>
            <div class="items" (click)="routers('/objetivos_estrategicos')" *ngIf="validatePermissions('list_my_objectives_strategics')">
                <mat-icon class="itemsIcon">analytics</mat-icon>
                <a class="itemsTitle">Mis Objetivos Estratégicos</a>
            </div>
            <div class="items" (click)="routers('/objetivos_individuales/all')" *ngIf="validatePermissions('list_objectives_individuals')">
                <mat-icon class="itemsIcon">work</mat-icon>
                <a class="itemsTitle">Objetivos Individuales</a>
            </div>
            <div class="items" (click)="routers('/objetivos_individuales')" *ngIf="validatePermissions('list_my_objectives_individuals')">
                <mat-icon class="itemsIcon">work</mat-icon>
                <a class="itemsTitle">Mis Objetivos Individuales</a>
            </div>
            <div class="items" (click)="routers('/seguimiento')" *ngIf="validatePermissions('list_tracings')">
                <mat-icon class="itemsIcon">vertical_split</mat-icon>
                <a class="itemsTitle">Seguimientos</a>
            </div>
            <div class="items" (click)="routers('/informes')" *ngIf="validatePermissions('list_tracings')">
              <mat-icon class="itemsIcon">widgets</mat-icon>
              <a class="itemsTitle">Informes</a>
            </div>
          </div>
        </div>
        <div class="center ">
            <img src="assets/img/logoBlanco.png" class="logotype">
        </div>
     </div>
     <div class="content">
        <div class="navbarUp right">
          <div class="homeOption" (click)="routers('')">
            <mat-icon class="homeiconOption">home</mat-icon>
            <a class="textOption">Inicio</a>
          </div>
          <div class="profileContainer">
            <img [src]="photo" class="perfil">
          <div class="profileInfo">
            <div class="nameProfile">{{nameUser}}</div>
            <mat-menu #dropdownMenu="matMenu" class="dropdown-menu">
              <button mat-menu-item (click)="goToProfile()" class="dropdown-item">
                <mat-icon>people</mat-icon> Mi perfil
              </button>
              <button mat-menu-item (click)="logout()" class="dropdown-item">
                <mat-icon>arrow_back</mat-icon> Cerrar sesión
              </button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="dropdownMenu" aria-label="Dropdown" class="dropdown-button">
              <mat-icon class="dropbtn">arrow_drop_down</mat-icon>
            </button>
          </div>
          </div>
        </div>
        <hr class="lineContent" color="#29ABE2">
        <div class="pages">
            <router-outlet ></router-outlet>
        </div>
    </div>
</div>

