<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="nav">
    <div class="navbarLeft">

        <div class="title">
            <a class="titleData" (click)="redirectForm('admin/'+title)" >
                {{validateTitle.length == 1 ? title : validateTitle[0] + ' ' + validateTitle[1]  }}   
            </a>
        </div>
        <hr class="line">

        <div class="listItems" >

            <div class="items" (click)="openOptions(1)" [ngStyle]="{'background-color': option == 1 ? '#700000' : '#c70101' }">
                <mat-icon class="itemsIcon">tune</mat-icon>
                <a class="itemsTitle">Parametrización</a>
                <mat-icon class="itemsIcon"> {{option == 1 ? 'expand_less' : 'expand_more'}} </mat-icon>
            </div>
            <div class="subMenu" *ngIf="option == 1">
                <div class="subMenuOption"  (click)="routers('/')">
                    <mat-icon class="subMenuIcon">key</mat-icon>
                    <a class="itemsTitle">Permisos</a>
                </div>
            </div>

            <div class="items" (click)="openOptions(2)" [ngStyle]="{'background-color': option == 2 ? '#700000' : '#c70101' }">
                <mat-icon class="itemsIcon">manage_accounts</mat-icon>
                <a class="itemsTitle">Administración</a>
                <mat-icon class="itemsIcon"> {{option == 2 ? 'expand_less' : 'expand_more'}} </mat-icon>
            </div>
            <div class="subMenu" *ngIf="option == 2">
                <div class="subMenuOption"  (click)="routers('/usuarios')">
                    <mat-icon class="subMenuIcon">people</mat-icon>
                    <a class="itemsTitle">Usuarios</a>
                </div>
                <div class="subMenuOption"  (click)="routers('/')">
                    <mat-icon class="subMenuIcon">public</mat-icon>
                    <a class="itemsTitle">Roles</a>
                </div>

            </div>

            <div class="items" (click)="openOptions(3)" [ngStyle]="{'background-color': option == 3 ? '#700000' : '#c70101' }">
                <mat-icon class="itemsIcon">corporate_fare</mat-icon>
                <a class="itemsTitle">Empresas</a>
                <mat-icon class="itemsIcon"> {{option == 3 ? 'expand_less' : 'expand_more'}} </mat-icon>
            </div>
            <div class="subMenu" *ngIf="option == 3">
                <div class="subMenuOption" (click)="routers('/empresas')">
                    <mat-icon class="subMenuIcon">store</mat-icon>
                    <a class="itemsTitle">Empresas</a>
                </div>
                <div class="subMenuOption" (click)="routers('/cargos')">
                    <mat-icon class="subMenuIcon">assignment_ind</mat-icon>
                    <a class="itemsTitle">Cargos</a>
                </div>
                <div class="subMenuOption" (click)="routers('/areas')">
                    <mat-icon class="subMenuIcon">view_in_ar</mat-icon>
                    <a class="itemsTitle">Áreas</a>
                </div>
            </div>
            <div class="items" (click)="routers('/objetivos_estrategicos/all')" >
                <mat-icon class="itemsIcon">analytics</mat-icon>
                <a class="itemsTitle">Objetivos Estratégicos</a>
            </div>

            <div class="items" (click)="routers('/objetivos_estrategicos')" >
                <mat-icon class="itemsIcon">analytics</mat-icon>
                <a class="itemsTitle">Mis Objetivos Estratégicos</a>
            </div>

            <div class="items" (click)="routers('/objetivos_individuales/all')" >
                <mat-icon class="itemsIcon">work</mat-icon>
                <a class="itemsTitle">Objetivos Individuales</a>
            </div>

            <div class="items" (click)="routers('/objetivos_individuales')" >
                <mat-icon class="itemsIcon">work</mat-icon>
                <a class="itemsTitle">Mis Objetivos Individuales</a>
            </div>
           
        </div>
        <div class="center ">
            <img src="assets/img/logoBlanco.png" class="logotype">
        </div>
     </div>

     <div class="content">
        <div class="navbarUp right">
            <img [src]="photo" class="perfil right">
            <div class="nameProfile"> {{nameUser}} </div>
            <mat-icon class="openOptionProfile" >arrow_drop_down</mat-icon>
        </div>

        <hr class="lineContent" color="#ff5601">

        <div class="pages">
            <router-outlet ></router-outlet>
        </div>
    </div>


</div>
