<!-- HTML DE LA VISTA TABLA DE SEGUIMIENTOS -->
<div>
  <h1>Mis colaboradores</h1>
  <p>Como líder, tu papel es esencial en el acompañamiento y desarrollo de tus colaboradores. Esta sección es tu
    herramienta
    para observar y evaluar el progreso y las contribuciones de cada miembro de tu equipo. Aquí podrás acceder a una
    vista
    integral del desempeño individual, establecer puntos de control, y ofrecer retroalimentación que guíe a tus
    colaboradores hacia la excelencia.
    Tu enfoque y análisis detallado aquí es más que una evaluación; es el cimiento para un crecimiento profesional
    significativo y la realización personal de cada individuo bajo tu liderazgo."

  </p>
</div>
<app-my-table [loading]="loading" [dataSource]="dataSource" [Columns]="columns" [length]="length" [pageSize]="pageSize"
  [PageSizeOptions]="pageSizeOptions" [paginator]="paginator" (eventIcons)="iconsFunction($event)"
  (changeSort)="changeSort($event)" (changePaginator)="changePaginator($event)"></app-my-table>

<!-- Copyright (c) Engagement
https://www.engagement.com.co/
Año: 2023
Sistema: Gestion de desempeño (GDD)
Programador: David Tuta -->
