<!-- FORMULARIO PARA AGREGAR LAS ACCIONES DE FORMACION -->
<div class="content-v2">
<div class="buttonsForms right">
  <a mat-raised-button class="buttons" (click)="redirectForm('admin/objetivos_individuales')">
    <mat-icon style="margin-right: 10px;">home</mat-icon>
  </a>
  <a mat-raised-button class="buttons" (click)="redirectForm('admin/objetivos_individuales/form')">
    <mat-icon style="margin-right: 10px;">add</mat-icon>Agregar Objetivo
  </a>

  <a mat-raised-button class="buttons" (click)="redirectForm('admin/objetivos_individuales/feeback_actions')">
    <mat-icon style="margin-right: 10px;">add</mat-icon>Agregar Acciones de Retroalimentación
  </a>

  <a mat-raised-button class="buttons" (click)="redirectForm('admin/objetivos_individuales/training_actions')">
    <mat-icon style="margin-right: 10px;">add</mat-icon>Agregar Acciones de Formación
  </a>
</div>
<div>
  <h1>Acciones de formación</h1>
  <p>El aprendizaje es la base de tu crecimiento. Tienes la oportunidad de diseñar tu ruta de desarrollo profesional.
  ¿Quieres aprender una nueva habilidad? ¿Profundizar en un área de especialización? Aquí puedes planificar y solicitar
  los recursos formativos que necesitas para alcanzar tus metas y expandir tus horizontes. Define tu futuro profesional,
  paso a paso, con cada acción de formación que emprendas.
  </p>
</div>

<div>
  <mat-form-field appearance="outline">
    <mat-label>Acción de formación</mat-label>
    <input matInput [(ngModel)]="title" name="title" autocomplete="off" type="text">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Fecha de inicio</mat-label>
    <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate" autocomplete="off">
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Fecha de cierre</mat-label>
    <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="endDate" autocomplete="off">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>

  <div class="right">
    <button mat-raised-button class="buttons" (click)="saveData()">
      <span class="material-icons" style="margin-right: 10px;">save</span> Guardar
    </button>
  </div>
</div>

<div>
  <h2>Tus acciones de formación creadas.</h2>
</div>
<app-my-table *ngIf="dataSource" [loading]="loading" [dataSource]="dataSource" [Columns]="columns" [length]="length"
  [pageSize]="pageSize" [PageSizeOptions]="pageSizeOptions" [paginator]="paginator" (eventIcons)="iconsFunction($event)"
  (changeSort)="changeSort($event)" (changePaginator)="changePaginator($event)">
</app-my-table>
</div>

<!-- Copyright (c) Engagement
https://www.engagement.com.co/
Año: 2023
Sistema: Gestion de desempeño (GDD)
Programador: David Tuta -->
