<!-- Formulario para agregar una Acción de Formacion -->
<div>
  <mat-form-field appearance="outline">
    <mat-label>Accion de Formacion</mat-label>
    <input matInput [(ngModel)]="title" name="title" autocomplete="off" type="text">
  </mat-form-field>

  <div class="right">
    <button mat-raised-button class="buttons" (click)="saveData()">
      <span class="material-icons" style="margin-right: 10px;">save</span> Guardar
    </button>
  </div>
</div>

<div>
  <h2>Tus acciones de formación creadas</h2>
</div>
<app-my-table *ngIf="dataSource" [loading]="loading" [dataSource]="dataSource" [Columns]="columns" [length]="length"
  [pageSize]="pageSize" [PageSizeOptions]="pageSizeOptions" [paginator]="paginator" (eventIcons)="iconsFunction($event)"
  (changeSort)="changeSort($event)" (changePaginator)="changePaginator($event)">
</app-my-table>
