<!-- HTML DE LA VISTA FORMULARIOS DE USUARIO -->
<app-my-tabs
    [optionsTabs]="optionsTabs"
    [intialTabCode]="initialTab"
    (getTabActive)="currentTab = $event.code"
></app-my-tabs><br>

<div *ngIf="currentTab == 1">
<div class="center">
    <img src="{{!photo ? 'assets/img/usuarioPNG.png' : photo}}" for="producto_img" class="aggImg">
    <label for="producto_img" class="selectImg"><mat-icon class="icons">add_a_photo</mat-icon></label>
</div><br>
<input class="ng-hide" style="display: none;" id="producto_img" type="file" accept="image/*"
    (input)="changePhoto(imageInput)" #imageInput />


<mat-grid-list cols="3" rowHeight="80px">
    <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline">
            <mat-label>Nombres</mat-label>
            <input matInput [(ngModel)]="name" autocomplete="off" type="text">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input matInput [(ngModel)]="lastName" autocomplete="off" type="text">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline">
            <mat-label>Identificación</mat-label>
            <input matInput [(ngModel)]="identify" autocomplete="off" type="number">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline" (click)="picker.open()">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="dateBirth" [value]="dateBirth">
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" autocomplete="off" type="text">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" *ngIf="type">
        <mat-form-field appearance="outline">
            <mat-label class="custom-label">Contraseña</mat-label>
            <input matInput [(ngModel)]="password" autocomplete="off" [type]="typePassword">
            <mat-icon matSuffix (click)="passVisible()">{{iconPassword}}</mat-icon>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input matInput [(ngModel)]="phone" autocomplete="off" type="number">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline">
            <mat-label>Direccion</mat-label>
            <input matInput [(ngModel)]="address" autocomplete="off" type="text">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline">
            <mat-label>Ciudad</mat-label>
            <input matInput [(ngModel)]="city" autocomplete="off" type="text">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline">
            <mat-label>Empresa</mat-label>
            <mat-select [(ngModel)]="company_id" [value]="company_id" (selectionChange)="changeCompany()">
                <mat-option *ngFor="let options of listCompany"
                    [value]="options.id">{{options.businessName}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline">
            <mat-label>Cargo</mat-label>
            <mat-select [(ngModel)]="employment_id" [value]="employment_id">
                <mat-option *ngFor="let options of listEmployments"
                    [value]="options.id">{{options.description}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <mat-form-field appearance="outline">
            <mat-label>Asignar Roles</mat-label>
            <mat-select [(ngModel)]="role_id" [value]="role_id" (selectionChange)="addRoles()">
                <mat-option *ngFor="let options of listRoles" [value]="options">{{options.description}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>

<div class="center">
    <table border="1" class="tableRoles" *ngIf="rolesView.length > 0">
        <thead>
            <tr>
                <th colspan="2" class="TableRolesTitle">Roles Asignados</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of rolesView; let i = index;">
            <tr *ngIf="!item.delete">
                <td> <mat-icon style="color: #ff0000" (click)="deleteRoles(i)">delete</mat-icon></td>
                <td class="TableRolesTitle"> {{item.description}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="right">
    <button mat-raised-button class="buttons" (click)="saveData()">
        <span class="material-icons" style="margin-right: 10px;">save</span> {{titleButton}}
    </button>
</div><br><br>
</div>


<div class="scrollable-section">
<div *ngIf="currentTab == 2">
<div *ngIf="individualsData.length > 0">
  <!-- Tabla de Objetivos Individuales -->
  <h2>Objetivos Individuales</h2>
  <table id="objetivos-table">
    <thead>
      <tr>
        <th>Objetivo Estratégico</th>
        <th>Objetivo Individual</th>
        <th>Meta</th>
        <th>Peso %</th>
        <th>Estado</th>
        <!-- Otras columnas si es necesario -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of individualsData">
        <td>{{ data.title_strategics }}</td>
        <td>{{ data.title }}</td>
        <td>{{ data.objetive }}</td>
        <td>{{ data.weight }}</td>
        <td>{{ data.title_state }}</td>
        <!-- Otras celdas si es necesario -->
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="feedbackData.length > 0">
  <!-- Tabla de Acciones de Retroalimentación -->
  <h2>Acciones de Retroalimentación</h2>
  <table id="retroalimentacion-table">
    <thead>
      <tr>
        <th>Descripción</th>
        <!-- Otras columnas si es necesario -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of feedbackData">
        <td>{{ data.title }}</td>
        <!-- Otras celdas si es necesario -->
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="trainingData.length > 0">
  <!-- Tabla de Acciones de Formación -->
  <h2>Acciones de Formación</h2>
  <table id="formacion-table">
    <thead>
      <tr>
        <th>Descripción</th>
        <!-- Otras columnas si es necesario -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of trainingData">
        <td>{{ data.title }}</td>
        <!-- Otras celdas si es necesario -->
      </tr>
    </tbody>
  </table>
</div>

<div
  *ngIf="individualsData.length === 0 && feedbackData.length === 0 && trainingData.length === 0">
  No se encontraron datos.
</div>
</div>
</div>


<!-- Copyright (c) Engagement
https://www.engagement.com.co/
Año: 2023
Sistema: Gestion de desempeño (GDD)
Programador: David Tuta -->
