.LoginClass{
    width: 100%;
    height:100%;
    display: flex;
}

.LoginImg{
    width: 65%;
    background-color: blue;
}

.LoginArea{
    width: 35%;
    //padding-top: 3%;
}

.LoginButton{
    background-color: #940000;
    width: 100% !important;
    border-radius: 20px;
}






