// ESTILOS LOCALES DE LA VISTA LOGIN
.LoginClass {
  display: grid;
  grid-template-columns: 55% 1fr;
  height: 100vh;
}

.LoginImg {
  background-color: #1560bd;
  background-image: url("../../../../assets/img/iniciar\ sesión.png");
  background-size: 1200px 1000px;
  background-position: center;
  background-repeat: no-repeat;
}

.LoginArea {
  background-image: url("../../../../assets/img/Recurso_2.png");
  background-size: 500px 100px;
  background-repeat: no-repeat;
  background-position: top;
}

.LoginButton {
  background-color: #1560bd;
  width: 100% !important;
  border-radius: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #1560bd;
  font-size: x-large;
}

mat-label {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: darkgray;
  font-size: larger;
}

.textsLogin {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: larger;
}

.site-footer {
  background-color: #26272b;
  padding: 15px 0 -10px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #1560bd;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #1560bd;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

// Copyright (c) Engagement
// https://www.engagement.com.co/
// Año: 2023
// Sistema: Gestion de desempeño (GDD)
// Programador: David Tuta
