<div class="buttonsForms right">
    <a mat-raised-button class="buttons" (click)="redirectForm('admin/usuarios/form')">
      <mat-icon  style="margin-right: 10px;">add</mat-icon>Agregar Usuario
    </a>
</div><br>

<app-my-table
  [loading]="loading"
  [dataSource]="dataSource"
  [Columns]="columns"
  [length]="length"
  [pageSize]="pageSize"
  [PageSizeOptions]="pageSizeOptions"
  [paginator]="paginator"
  (eventIcons)="iconsFunction($event)"
  (changeSort)="changeSort($event)"
  (changePaginator)="changePaginator($event)"
></app-my-table>
