.login{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border: 1px solid;
    margin-left: 40%;
    margin-top: 5%;
    width: 280px;
    font-weight: lighter;
}

.icons{
    margin-left: 10px;
}


.texts{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}


