<div class="buttonsForms right">
  <a mat-raised-button class="buttons" (click)="redirectForm('admin/objetivos_individuales_list')">
    <mat-icon style="margin-right: 10px;">add</mat-icon>Mi Plan
  </a>
  <a mat-raised-button class="buttons" (click)="redirectForm('admin/objetivos_individuales/form')">
    <mat-icon style="margin-right: 10px;">add</mat-icon>Agregar Objetivo
  </a>

  <a mat-raised-button class="buttons" (click)="redirectForm('admin/objetivos_individuales/feeback_actions')">
    <mat-icon style="margin-right: 10px;">add</mat-icon>Agregar Acciones de Retroalimentación
  </a>

  <a mat-raised-button class="buttons" (click)="redirectForm('admin/objetivos_individuales/training_actions')">
    <mat-icon style="margin-right: 10px;">add</mat-icon>Agregar Acciones de Formación
  </a>
</div>
<br>

<div>
  <h1>Mis objetivos individuales</h1>
  <p>Entendemos que el corazón de una organización palpita al ritmo del desempeño individual. Aquí es donde tú, como
    arquitecto de tu crecimiento, puedes definir y refinar tus objetivos personales que resonarán con la misión de
    nuestra
    empresa.
  </p>
</div>
