.aggImg{
    text-align: center;
    border: 2px solid #c70101;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.selectImg{
    position: relative;
    margin-left: -4%;
    margin-top: 10%;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid;   
}

.userImg{
    text-align: center;
    border: 2px solid #c70101;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}


