<!-- HTML DE LA VISTA LISTA DE OBJETIVOS INDIVIDUALES -->
<div class="content-v2">

<div class="buttonsForms right">
    <a mat-raised-button class="buttons" (click)="redirectForm('admin/objetivos_individuales/form')">
      <mat-icon  style="margin-right: 10px;">add</mat-icon>Agregar Objetivo
    </a>

    <a mat-raised-button class="buttons" (click)="redirectForm('admin/objetivos_individuales/feeback_actions')" >
      <mat-icon style="margin-right: 10px;">add</mat-icon>Agregar Acciones de Retroalimentación
    </a>

    <a mat-raised-button class="buttons" (click)="redirectForm('admin/objetivos_individuales/training_actions')">
      <mat-icon style="margin-right: 10px;">add</mat-icon>Agregar Acciones de Formación
    </a>
</div>
<br>
<div class="right" style="font-size: 17px; font-weight: bold;">
  Porcentaje sin asignar {{points}}%
</div>
<div>
  <h1>Mi plan</h1>
  <p>Esta es tu brújula para alinear tus esfuerzos diarios con la visión estratégica de nuestra organización,
    garantizando que cada paso que des contribuya a un panorama más amplio de éxito y logros compartidos.

  </p>
</div>
<br>

<mat-accordion>
    <mat-expansion-panel *ngFor="let item of listObjetives; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title> {{item.weight}} - {{item.title}}  </mat-panel-title>
        <mat-panel-description class="right">
          <mat-icon style="color: #ff0000" (click)="delete(i)">delete</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="3" rowHeight="80px">
        <mat-grid-tile [colspan]="1">
            <mat-form-field appearance="outline">
              <mat-label>Objetivo Estratégico</mat-label>
              <input matInput [(ngModel)]="item.title_strategics" autocomplete="off" type="text" readonly>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
          <mat-form-field appearance="outline">
            <mat-label>Objetivo Individual</mat-label>
            <input matInput [(ngModel)]="item.title" autocomplete="off" type="text">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
            <mat-form-field appearance="outline">
              <mat-label>Peso %</mat-label>
              <input matInput [(ngModel)]="item.weight" autocomplete="off" type="text">
            </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="150px">
        <mat-grid-tile [colspan]="1">
          <mat-form-field appearance="outline" style="width: 98%;">
            <mat-label>Meta</mat-label>
            <textarea matInput [(ngModel)]="item.objetive" name="mensaje" cols="10" rows="5"></textarea>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile [colspan]="1">
          <mat-form-field appearance="outline">
            <mat-label>Fecha de Inicio</mat-label>
            <input matInput [(ngModel)]="item.start_date" autocomplete="off" type="date">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
          <mat-form-field appearance="outline">
            <mat-label>Fecha de Cierre</mat-label>
            <input matInput [(ngModel)]="item.end_date" autocomplete="off" type="date">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <!-- Botón para guardar cambios -->
      <div class="right">
        <button mat-raised-button class="buttons" (click)="updateObjective(item)">
          <mat-icon style="margin-right: 10px;">save</mat-icon>Guardar Cambios
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
<!-- Copyright (c) Engagement
https://www.engagement.com.co/
Año: 2023
Sistema: Gestion de desempeño (GDD)
Programador: David Tuta -->
