<!-- HTML DE LA VISTA DEL DASHBOARD -->
<div class="my-scrollable-container" cdkScrollable>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="app-container">
  <div class="app-content">
    <div class="projects-section">
      <div class="projects-section-header">
        <p>Tu Camino al Éxito: Panorama y Conexión
</p>
        <!-- <p class="time">{{ currentDate }}</p> -->
      </div>
      <p> Descubre en un vistazo cómo cada paso que das te acerca a tus metas personales y cómo estas se entrelazan con la
        visión estratégica de nuestra organización. Aquí, cada logro personal es un eco de nuestro éxito como equipo.
      </p>
      <div class="projects-section-line">
        <div class="projects-status">
          <div class="item-status">
            <span class="status-number">{{ totalObjetivosIndv }}</span>
            <span class="status-type">Objetivos Individuales</span>
          </div>
          <div class="item-status">
            <span class="status-number">{{ totalObjetivosEstra }}</span>
            <span class="status-type">Objetivos Estrategicos</span>
          </div>
          <div class="item-status">
            <span class="status-number">62</span>
            <span class="status-type">Total Planes</span>
          </div>
        </div>

        <!-- <div class="app-header-left">
          <div class="search-wrapper">
            <input class="search-input" type="text" placeholder="Search">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-search" viewBox="0 0 24 24">
              <defs></defs>
              <circle cx="11" cy="11" r="8"></circle>
              <path d="M21 21l-4.35-4.35"></path>
            </svg>
          </div>
        </div> -->

        <!-- <div class="view-actions">
          <button class="view-btn list-view" title="List View">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
              <line x1="8" y1="6" x2="21" y2="6" />
              <line x1="8" y1="12" x2="21" y2="12" />
              <line x1="8" y1="18" x2="21" y2="18" />
              <line x1="3" y1="6" x2="3.01" y2="6" />
              <line x1="3" y1="12" x2="3.01" y2="12" />
              <line x1="3" y1="18" x2="3.01" y2="18" /></svg>
          </button>
          <button class="view-btn grid-view active" title="Grid View">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
              <rect x="3" y="3" width="7" height="7" />
              <rect x="14" y="3" width="7" height="7" />
              <rect x="14" y="14" width="7" height="7" />
              <rect x="3" y="14" width="7" height="7" /></svg>
          </button>
        </div> -->

      </div>



</div>

<div class="messages-section">
  <button class="messages-close">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
      <circle cx="12" cy="12" r="10" />
      <line x1="15" y1="9" x2="9" y2="15" />
      <line x1="9" y1="9" x2="15" y2="15" /></svg>
  </button>
  <br> <br> <br>




    <full-calendar [options]="calendarOptions" [events]="calendarEvents"></full-calendar>
    <div class="project-box-wrapper">
      <div class="project-box" style="background-color: #dbf6fd;">
        <p style="font-size: larger; font: bold"><strong>Optimiza tu Rendimiento con visión estratégica</strong></p>

        <p>La gestión del desempeño es el arte de alinear tus ambiciones y esfuerzos diarios con el horizonte estratégico de
        nuestra organización. En FEK, transformamos cada objetivo individual en un pilar de nuestra misión colectiva. Abrazamos
        el crecimiento constante, ofreciéndote un camino continuo de aprendizaje y evolución profesional. Juntos, forjamos no
        solo resultados, sino también destinos.
        </p>

      </div>
    </div>






</div>
</div>
</div>

<!-- Copyright (c) Engagement
https://www.engagement.com.co/
Año: 2023
Sistema: Gestion de desempeño (GDD)
Programador: David Tuta -->
