// ESTILOS DE VISTA DE FORMULARIO DE SEGUIMIENTO
table {
  width: 100%;
  border-spacing: 0px;
  border: 1px solid #fb794b;
  th {
    background-color: #f15a24;
    color: #ffffff;
    font-weight: lighter;
    border: 1px solid #fb794b;
  }
  td {
    border: 1px solid #fb794b;
  }
}
